torch
torchvision
tqdm
ray
ray[tune]
matplotlib
seaborn
gymnasium
gymnasium[other]
gymnasium[classic-control]
gymnasium[atari]
gymnasium[accept-rom-license] # atariのrom
swig # box2d installするのに必要らしい
gymnasium[box2d]
minigrid
